nbformat==5.10.4             
pandas==2.2.3               
plotly==6.0.1               
networkx==3.4.2            
langchain-openai==0.3.16     
python-dotenv==1.1.0         
pyan3==1.2.0                 
datasets==3.5.1               
beautifulsoup4==4.13.4       
langchain-core==0.3.58      
langgraph==0.4.1            
langgraph-cli==0.2.8        
requests==2.32.3             
tree-sitter        
tree-sitter-language-pack
multilspy==0.0.15            
